/04-HuggingFace/trasnFormers_test/model/
/00-model/
.vercel/project.json
00-data/hermes-function-calling-v1.csv
00-data/ChnSentiCorp/dataset_dict.json
00-data/ChnSentiCorp/test/dataset_info.json
00-data/ChnSentiCorp/test/state.json
00-data/ChnSentiCorp/train/dataset_info.json
00-data/ChnSentiCorp/train/state.json
00-data/ChnSentiCorp/validation/dataset_info.json
00-data/ChnSentiCorp/validation/state.json
00-data/Weibo/万条金融标准术语.csv
00-data/Weibo/dataset_info.json
00-data/Weibo/new_test.csv
00-data/Weibo/new_train.csv
00-data/Weibo/new_validation.csv
00-data/Weibo/test.csv
00-data/Weibo/train.csv
00-data/Weibo/validation.csv
00-data/gpt2-chinese/chinese_poems.txt
00-data/news/news_data_info.json
00-data/news/test.csv
00-data/news/train.csv
00-data/news/validation.csv
*.pyc
*.pth
*.env
*.arrow
